/* ====================================== _____________ Forms Styles _____________ ====================================== */
.form {
  &__search {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    // margin-right: -15px;
    // margin-left: -15px;
    @include for_phone() {
      width: 100%;
    }
    @include for_miniTb(){
      width: 100%;
    }
    &_submit {
      flex: 0 0 15%;
      max-width: 15%;
      //   padding: 0 15px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #c4c4c4, $alpha: 0.4);
        cursor: pointer;
        color: #707070;
        border: 1px solid #c4c4c4;
        transition: $transition;
        svg {
          width: 1.25rem;
        }
        &:hover {
          background-color: transparent;
          border-color: blue;
          color: blue;
        }
        @include for_phone() {
          background-color: transparent;
          border: 0;
          color: #fff;
        }
        @include for_miniTb(){
          background-color: transparent;
          border: 0;
          color: #fff;
        }
      }
    }
    &_errors {
      flex: 0 0 100%;
      // padding: 0 15px;
      max-width: 1000%;
      color: #f00;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      &__block {
        display: block;
      }
      &__hidden {
        display: none;
      }
    }
  }
  &_group {
    flex: 0 0 85%;
    max-width: 85%;
    // padding: 0 15px;
    &_control {
      display: block;
      width: 100%;
      padding: 7px 10px;
      border: 1px solid #ccc;
      transition: $transition;
      font-size: 1rem;
      background-color: #fff;

      &:focus {
        border-color: blue;
      }
    }
  }
}
/* ====================================== _____________ Forms Styles _____________ ====================================== */
